{{define "edit"}}

{{template "_head"}}
    <body>
        {{template "_menu"}}
        <div class="container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5">Editando Produto</h1>
                        <p class="lead">Insira os dados para atualizar ou editar</p>
                    </div>
                </div>
                <form method="POST" action="update">
                    <input type="hidden" name="id" value="{{.Id}}"> 
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" value="{{.Nome}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="descricao">Descrição:</label>
                                <input type="text" name="descricao" value="{{.Descricao }}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="preco">Preço:</label>
                                <input type="number" name="preco"  value="{{.Preco}}""form-control" step="0.01">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" value="{{.Quantidade}}"name="quantidade" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
                    <a class="btn btn-info" href="/">Voltar</a>
                </form>
        </div>
    </body>
</html>
{{end}}